.book-cover {
  min-height: 375px;
  max-height: 375px;
  object-fit: cover;
}

select {
  border: 1px solid #3e3e3e;
  border-radius: 0.25rem;
  padding: 0.5em;
}

.card-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
